<div class="btn-group" dropdown >
  <button type="button" class="btn btn-primary btn-sm" mdbRippleRadius >{{selected}}</button>
  <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split px-2 btn-sm" mdbRippleRadius></button>
  <div class="dropdown-menu">
      <button class="dropdown-item" (click)="setLanguage('English')">English</button>
      <button class="dropdown-item" (click)="setLanguage('Nederland')">Nederland</button>
      <button class="dropdown-item" (click)="setLanguage('Deutsch')">Deutsch</button>
  </div>
</div>

